body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.footer-center {
    width: 100%;
    text-align: center;
}

.title{
    --animate-repeat: infinite;
    --animate-duration: 5s;
    --animate-delay: 5s;
}